.accountsection1 {
  margin-top: 4rem;
  display: block;
}

.avatarimg {
  /* vertical-align: middle; */
  background-color: #fe6b32;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: block;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.avatardetails {
  display: block;
}
.user {
  padding-top: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
#accounttd{
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #494f9d;

}
.accountmark> p  {
  /* text-decoration: orange; */
  text-align: justify;
  background-color: #fe6b32;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
}
.myaccount > img {
  /* background-image: url(../assets/offers.png); */
  width: 100%;

}

.accountDetails {
  margin: auto;
  vertical-align: center;
  padding-top: 20px;
}

#updateProfile,
#wallet,
#editProfile,
#booking,
#updatePassword {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  background: transparent;
  margin: 5px 0 5px 0;
  width: -webkit-fill-available;
  border:none;
  background: transparent;
  cursor: pointer;
  height: 30px; 
}

/* #updateProfile :active,
#wallet :active,
#editProfile :active,
#booking :active,
#updatePassword :active{ */
  button:active {
  border: none !important;
  cursor: pointer;
  font-weight: bold;
}
button:focus {
  border: none !important;
  cursor: pointer;
  font-weight: 600;
}

button:hover{
  border-bottom: 3px solid orange !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wallet {
  padding: 10px 10px 10px 10px;
  text-align: center;
  /* display: block; */
}
.wallet > img {
  width: 40%;
  /* margin: auto; */
  /* text-align: center; */
  margin-bottom: 40px;
}
.referPara p{
  font-size: 18px;
  font-weight: 500;
  justify-content: center;
}
#code,
#amount {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  color: orange;
}

.codeText,
.amountText {
  font-size: 1em;
  text-align: center;
  font-weight: bold;
}
.referralbutton{
  color: darkcyan;
  font-size: 1.5em !important;
  font-weight: bold;
  text-align: center;
}