.covid {
  background-color: orange;
  color: white;
  /* height: 20px; */
  text-align: center;
  padding: 10px;
  font-weight: 500;
}

.booking_page {
  display: block;
  margin: auto;
  padding: 5em 0 5em 0;
}

.car_img {
  width: fit-content;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: #f2f1f1;
  padding: 20px;
  justify-content: center;
  align-items: center;
  /* margin: 1em; */
  /* margin: auto; */
  display: block;
  margin-bottom: 2em;
}
.car_img > img {
  width: 100%;
  margin: auto;
}

.necessary_details {
  margin: 2em 0 2em 0;
}

.necessary_details ul {
  list-style-type: none;
  margin: 0px !important;
  padding: 0px !important;
}

.necessary_details ul li {
  /* padding-right: 0.5em; */
  padding-bottom: 0.3em;
  /* float: left; */
  font-weight: 400;
  font-size: 16px;
}

.right_side {
  display: block;
}
.car_model {
  /* width: max-content; */
  background-color: whitesmoke;
  padding: 1em;
}

.car_model h5 {
  background-color: orange;
  width: fit-content;
  padding: 0.4em;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  letter-spacing: 1.2px;
  font-size: large;
}

.car_model h3 {
  font-weight: bold;
  letter-spacing: 1.1px;
}

.car_model ul {
  margin: 0px !important;
  padding: 0px !important ;
}
.car_model ul li {
  display: inline;
  padding-right: 0.5em;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.car_model ul li img{
  padding-right: 5px;
  margin: auto;
}

.booking_details {
  background-color: whitesmoke;
  padding: 1em;
  margin: 1em 0 1em 0;
}

.booking_para ul {
  /* padding: 2em; */
  list-style-type: none;
  margin: 0px !important;
  padding: 0px !important;
}

.booking_para ul li {
  /* padding-right: 0.5em; */
  padding-bottom: 0.5em;
  /* float: left; */
  font-weight: 500;
  font-size: 18px;
}

.booking_para ul li span {
  font-weight: 300;
  font-size: 16px;
}

.booking_values ul {
  /* padding: 2em; */
  list-style-type: none;
  margin: 0px !important;
  padding: 0px !important;
}

.booking_values ul li {
  /* padding-right: 0.5em; */
  padding-bottom: 0.5em;
  /* float: left; */
  font-weight: 500;
  font-size: 18px;
  color: #494f9d;
}
.select_fleet h6 {
  font-weight: 500;
  font-size: 18px;
}

#fleet {
  padding: 1em;
  width: -webkit-fill-available;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 0.5em;
}

#fleet option {
  padding: 0 0.5em 0 0.5em;
}
.coupon {
  display: block;
}

.coupon h6 {
  font-weight: 500;
  font-size: 18px;
}

.coupon input {
  /* width: ; */
  /* margin-right: 1em; */
  margin: auto;
  border-radius: 5px;
  border: 2px solid black;
  color: black;
}

.coupon button {
  background-color: #494f9d;
  font-size: 20px;
  /* font-weight: bold; */
  letter-spacing: 1.1px;
  margin: auto;
}

.netAmount {
  display: block;
  padding: 1em 0 1em 0;
}

.netAmount .total_text {
  display: block;
}

.netAmount .total_text p {
  margin: auto;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1.1px;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  justify-content: center;
}

.netAmount .total {
  color: #494f9d;
  /* margin: auto; */
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1.1px;
  font-family: "Open Sans", sans-serif;
}

.netAmount button {
  /* margin: auto; */
  background-color: #494f9d;
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1.1px;
}
