#booking {
  /* font-family: 'Montserrat', sans-serif; */
  /* background-image: url('../img/background.jpg'); */
  background-size: cover;
  background-position: center;
  font-weight: 300;
  margin-top: 50px;
}

.booking-form {
  background: #fff;
  padding: 30px 15px 0px;
  border-radius: 4px;
  overflow: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.booking-form .form-group {
  position: relative;
  margin-bottom: 30px;
}

.booking-form .form-control {
  border: none;
  height: 65px !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 24px;
  color: #090a0b;
  font-weight: 300;
  background: #f2f1f1;
  border-radius: 4px;
}

.booking-form .form-control::-webkit-input-placeholder {
  color: #b1b6bd;
}

.booking-form .form-control:-ms-input-placeholder {
  color: #b1b6bd;
}

.booking-form .form-control::placeholder {
  color: #b1b6bd;
}

.booking-form input[type="date"].form-control:invalid {
  color: #b1b6bd;
}

.booking-form select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.booking-form select.form-control + .select-arrow {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 24px;
  text-align: center;
  pointer-events: none;
  height: 65px;
  line-height: 65px;
  color: #b1b6bd;
  font-size: 14px;
}

.booking-form select.form-control + .select-arrow:after {
  content: "\279C";
  display: block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.booking-form .form-label {
  color: #184c8f;
  display: block;
  font-weight: 600;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  position: relative;
  margin-top: 10px;
  text-transform: uppercase;
}

.booking-form .form-label:after {
  content: "";
  position: absolute;
  left: 10px;
  top: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #f2f1f1 transparent transparent transparent;
}

.booking-form .form-btn {
  margin-bottom: 30px;
}

.booking-form .submit-btn {
  background: #184c8f;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  height: 70px;
  font-size: 18px;
  width: 100%;
  color: #fff;
  border-radius: 4px;
  display: block;
}

.search-car {
  margin: 50px;
  display: block;
}

.car-image {
  width: fit-content;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: #f2f1f1;
  padding: 20px;
  justify-content: center;
  align-items: center;
  display: block;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.car-image img {
  width: 90%;
  margin: auto;
}

.car-details {
  display: block;
  padding: 0 20px 0 20px;
  margin: auto;
}
.car-details h3{
  font-weight: bold;
  letter-spacing: 1.1px;
}

.car-details h3 span {
  justify-items: auto;
  margin-left: 0.5em;
  background-color: orange;
  width: fit-content;
  padding: 0.4em;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  letter-spacing: 1.2px;
  font-size: 0.5em;
}

.car-details h5{
  font-size: 1.5em;
  font-weight: bold;
  color: #184c8f;
  letter-spacing: 1.1px;
}

.car-details p{
  font-size: 1.1em;
  font-weight: 400;
  color: black;
  letter-spacing: 1.1px;
}
.car-details p span{
  font-size: 1.1em;
  font-weight: 400;
  color: black;
  letter-spacing: 1.1px;
  padding-left: 10px;
}

.car-details ul {
  display: flex;
  list-style-type: none;
  margin: 0px !important;
  padding: 0px !important;

}

.car-details ul li {
  padding-right: 10px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  /* display: block; */
  /* margin: auto; */
}
.car-details ul li img{
  padding-right: 5px;
  margin: auto;
}

.button-search{
  display: block;
  margin: auto;
}
.button-search button[type="submit"]{
  margin: auto;
  background-color: #184c8f;
  color: white; 
  font-size: 18px;
  letter-spacing: 1.1px;

}
.button-search button[type="disabled"]{
  margin: auto;
  /* background-color: #184c8f; */
  color: black; 
  font-size: 18px;
  letter-spacing: 1.1px;
}
#invaliddetails {
  margin: 10%;
  text-align: center;
  font-weight: bold;
  color: red;
}
