.success_img > img{
    /* width: 100%; */
    display: block;
    margin: auto;
}
.navPage{
    text-align: center;
}
.btn{
    width: 30%;
    display: block;
    margin: auto;
    background-color: #494f9d;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 1.1px;
}
.navPage{
    margin: 1rem;
}