@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,800;1,800&display=swap");


.terms-text {
    margin-top: 5%;
    margin-bottom: 5%;
}
.terms-text p{
    font-family: "Open Sans", sans-serif;
    font-size: large;
}