@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,800;1,800&display=swap");


.terms-text {
    margin-top: 5%;
    margin-bottom: 5%;
}
.terms-text p{
    font-family: "Open Sans", sans-serif;
    font-size: large;
}

.testimonial_bg {
  background-image: url("../assets/Testimonials.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5% 0 5% 0;
}

.testimonial_bg .testimonial_heading h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: large;
  color: #fff;
}
.testimonial_bg .testimonial_heading h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: xx-large;
  color: #ffb947;
}
.testimonial_bg .testimonial-container {
  box-sizing: content-box;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.indentity {
  margin: 0 !important;
}
figure.testimonial {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 5%;
  padding: 0 20px;
  text-align: left;
  box-shadow: none !important;
  display: block;
}
figure.testimonial * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
figure.testimonial img {
  /* margin: auto; */
  max-width: 100%;
  vertical-align: middle;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 10px 0 0 10px;
}
figure.testimonial blockquote {
  background-color: #fff;
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5em;
  margin: 0;
  padding: 25px 50px 30px;
  position: relative;
}
figure.testimonial blockquote:before,
figure.testimonial blockquote:after {
  content: "\201C";
  position: absolute;
  color: #ff5057;
  font-size: 50px;
  font-style: normal;
}
figure.testimonial blockquote:before {
  top: 25px;
  left: 20px;
}
figure.testimonial blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 0;
}
figure.testimonial .btn {
  top: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  margin: 0;
  position: absolute;
}
figure.testimonial .peopl {
  position: absolute;
  bottom: 80px;
  padding: 0 10px 0 150px;
  margin: 0;
  color: #ffffff;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}
figure.testimonial .peopl h3 {
  opacity: 0.9;
  margin: 0;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-btn.slick-hidden {
  display: none;
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 40%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev:before,
.slick-next:before {
  font-family: "FontAwesome";
  font-size: 40px;
  line-height: 1;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -40px;
}
.slick-prev:before {
  content: "";
}
.slick-next {
  right: -40px;
}
/* .slick-next:before {
  content: "";
} */
.slick-prev, .slick-next{
	display: none !important;
}